:root{

    --card-width:110px;
    --card-height:165px;

    --panel-color:rgba(255,255,255,0.12);
    --panel-border:rgba(255,255,255,0.25);

    --button-color:#8d6e3b;
    --button-hover:#b08d57;

    --text-color:#ffffff;

}


*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}


html,
body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;

    background:#000;

    overflow:hidden;
}

